## 시리즈 연산

### 4-1. 시리즈 vs 연산

* Series 객체 + 연산자 + 숫자

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [ ]:
student1 = pd.Series({'국어':100, '영어':80, '수학':90})
print(student1)

국어    100
영어     80
수학     90
dtype: int64

In [ ]:
percentage = student1/200

print(percentage)
print(type(percentage))

국어    0.50
영어    0.40
수학    0.45
dtype: float64
<class 'pandas.core.series.Series'>

### 4-2. 시리즈 vs 시리즈

* Series + 연산자 + Series2

In [5]:
student1 = pd.Series({'국어':100, '영어':80, '수학':90})
student2 = pd.Series({'수학':80, '국어':90, '영어':80})

print(student1)
print('\n')
print(student2)

국어    100
영어     80
수학     90
dtype: int64


수학    80
국어    90
영어    80
dtype: int64

In [ ]:
add = student1 + student2
sub = student1 - student2
multi = student1 * student2
div = student1 / student2

print(type(div))
print('\n')

result = pd.DataFrame([add,sub,multi, div], index = ['덧셈','뺄셈','곱셈','나눗셈'])
print(result)

<class 'pandas.core.series.Series'>


              국어        수학      영어
덧셈    190.000000   170.000   160.0
뺄셈     10.000000    10.000     0.0
곱셈   9000.000000  7200.000  6400.0
나눗셈     1.111111     1.125     1.0

In [ ]:
# NaN 값이 있는 시리즈 연산
student1 = pd.Series({'국어':np.nan, '영어':80, '수학':90})
student2 = pd.Series({'수학':80, '국어':90})

print(student1)
print('\n')
print(student2)
print('\n')

국어     NaN
영어    80.0
수학    90.0
dtype: float64


수학    80
국어    90
dtype: int64

In [7]:
add = student1 + student2
sub = student1 - student2
multi = student1 * student2
div = student1 / student2

print(type(div))
print('\n')

result = pd.DataFrame([add,sub,multi, div], index = ['덧셈','뺄셈','곱셈','나눗셈'])
result

<class 'pandas.core.series.Series'>

              국어        수학      영어
덧셈    190.000000   170.000   160.0
뺄셈     10.000000    10.000     0.0
곱셈   9000.000000  7200.000  6400.0
나눗셈     1.111111     1.125     1.0

### 4-3. 연산 메소드

* Series1.add(Series2, fill_value = 0)

In [ ]:
student1 = pd.Series({'국어':np.nan, '영어':80, '수학':90})
student2 = pd.Series({'수학':80, '국어':90})

print(student1)
print('\n')
print(student2)
print('\n')

국어     NaN
영어    80.0
수학    90.0
dtype: float64


수학    80
국어    90
dtype: int64

In [8]:
# NaN 값 0으로 대체
sr_add = student1.add(student2, fill_value = 0)
sr_sub = student1.sub(student2, fill_value = 0)
sr_mul = student1.mul(student2, fill_value = 0)
sr_div = student1.div(student2, fill_value = 0)

result = pd.DataFrame([sr_add, sr_sub, sr_mul, sr_div], index = ['덧셈','뺄셈','곱셈','나눗셈'])

result

              국어        수학      영어
덧셈    190.000000   170.000   160.0
뺄셈     10.000000    10.000     0.0
곱셈   9000.000000  7200.000  6400.0
나눗셈     1.111111     1.125     1.0

## 데이터 프레임 연산

### 4-4. 데이터 프레임 vs 숫자

* DataFrame 객체 + 연산자 + 숫자

In [2]:
titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age','fare']]

df.head()

    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500

In [3]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [11]:
addition = df + 10

print(type(addition))
addition.head()

<class 'pandas.core.frame.DataFrame'>

    age     fare
0  32.0  17.2500
1  48.0  81.2833
2  36.0  17.9250
3  45.0  63.1000
4  45.0  18.0500

### 4-5. 데이터 프레임 vs 데이터 프레임

In [12]:
titanic = sns.load_dataset('titanic')
df = titanic.loc[:,['age','fare']]

print(type(df))
df.tail()

<class 'pandas.core.frame.DataFrame'>

      age   fare
886  27.0  13.00
887  19.0  30.00
888   NaN  23.45
889  26.0  30.00
890  32.0   7.75

In [13]:
addition = df + 10

print(type(addition))

addition.tail()

<class 'pandas.core.frame.DataFrame'>

      age   fare
886  37.0  23.00
887  29.0  40.00
888   NaN  33.45
889  36.0  40.00
890  42.0  17.75

In [14]:
subtraction = addition - df

print(type(subtraction))
subtraction.tail()

<class 'pandas.core.frame.DataFrame'>

      age  fare
886  10.0  10.0
887  10.0  10.0
888   NaN  10.0
889  10.0  10.0
890  10.0  10.0